<ion-content class="ion-padding">
  <div class="page-container">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Subir archivo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <label for="archivo-markdown" class="etiqueta-archivo">
        Selecciona un archivo Markdown
      </label>

      <input
        #archivoInput
        id="archivo-markdown"
        type="file"
        accept=".md"
        title="Selecciona un archivo Markdown"
        aria-label="Selecciona un archivo Markdown"
        (change)="seleccionarArchivo($event)"
      >

      <ion-text *ngIf="archivoSeleccionado">
        <p>Archivo seleccionado: {{ archivoSeleccionado.name }}</p>
      </ion-text>

      <ion-button
        expand="block"
        class="ion-margin-top"
        (click)="subirArchivo()"
        [disabled]="
          subiendo ||
          !archivoSeleccionado ||
          idBase <= 0
        ">

        {{ subiendo ? 'Subiendo...' : 'Subir archivo' }}

      </ion-button>
    </ion-card-content>
  </ion-card>

    <app-mensaje-alerta
      tipo="success"
      [mensaje]="mensaje">
    </app-mensaje-alerta>

    <app-mensaje-alerta
      tipo="danger"
      [mensaje]="error">
    </app-mensaje-alerta>

  <app-estado-carga
    *ngIf="cargando"
    mensaje="Cargando archivos...">
  </app-estado-carga>

  <ion-card *ngIf="!cargando">
    <ion-card-header>
      <ion-card-title>Archivos guardados</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <app-estado-vacio
        *ngIf="archivos.length === 0"
        titulo="Sin archivos"
        mensaje="Esta base todavía no tiene archivos. Sube un archivo Markdown para comenzar.">
      </app-estado-vacio>

      <div class="contenedor-archivos" *ngIf="archivos.length > 0">

        <app-tarjeta-archivo
          *ngFor="let archivo of archivos"
          [archivo]="archivo"
          (abrir)="abrirArchivo($event)"
          (eliminar)="eliminarArchivo($event)">
        </app-tarjeta-archivo>

      </div>
    </ion-card-content>
  </ion-card>

  <app-visor-nota
  *ngIf="archivoAbierto"
  [archivo]="archivoAbierto">
</app-visor-nota>
  </div>
</ion-content>